<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.=w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <style type="text/css">
      @import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");
      @media only screen and (max-device-width: 480px) {
        .content {
          padding: 20px 30px !important;
        }
      }
      @media only screen and (min-device-width: 600px) {
        .img-header {
          min-height: 120px !important;
        }
        .img-footer {
          min-height: 60px !important;
        }
      }
    </style>
  </head>

  <table
    lang="en"
    border="0"
    cellpadding="0"
    cellspacing="0"
    role="presentation"
    bgcolor="#ffffff"
    style="
      background-color: #ffffff;
      border-collapse: collapse;
      padding: 0 20px !important;
      width: 100%;
    "
  >
    <tbody>
      <tr>
        <td></td>
        <td align="center" valign="top" width="600">
          <table
            border="0"
            cellpadding="0"
            cellspacing="0"
            width="600"
            role="presentation"
            bgcolor="#ffffff"
            style="
              background-color: #ffffff;
              border-collapse: collapse;
              width: 100%;
              max-width: 600px;
            "
          >
            <tbody>
              <tr>
                <td
                  style="
                    border-collapse: collapse;
                    background-color: #fff;
                    height: 100%;
                  "
                >
                  <h1 style="text-align: center; margin: 0; line-height: 1">
                    <a href="#">
                      <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCZrQHQdpxM0X6InEys2tt3rxqSUNlM2G2xA&s"
                        alt=""
                        border="0"
                        class="img-header"
                        style="
                          width: auto;
                          max-width: 600px;
                          height: auto;
                          max-height: 120px;
                          display: block;
                          margin: 0 auto;
                          outline: none;
                          text-decoration: none;
                        "
                      />
                    </a>
                  </h1>
                </td>
              </tr>
              <tr>
                <td
                  style="
                    padding-left: 40px;
                    padding-right: 40px;
                    padding-top: 60px;
                    padding-bottom: 60px;
                    font-size: 16px;
                    line-height: 24px;
                    width: 100%;
                    font-family: 'Source Sans Pro', 'Roboto', Roboto, Arial,
                      Helvetica, sans-serif;
                  "
                  class="content"
                >
                  <table
                    class="message-container"
                    align="center"
                    width="100%"
                    cellspacing="0"
                    cellpadding="0"
                    border="0"
                  >
                    <tr>
                      <td style="background: #ffffff">
                        <table
                          width="100%"
                          cellspacing="0"
                          cellpadding="0"
                          border="0"
                        >
                          <tr>
                            <td>
                              <table
                                width="100%"
                                cellspacing="0"
                                cellpadding="0"
                                border="0"
                                text-align="center"
                              >
                                <tr>
                                  <td
                                    valign="center"
                                    style="
                                      font-size: 24px;
                                      color: #333333;
                                      font-family: 'Times New Roman', Times,
                                        serif;
                                      padding: 0 0 8px;
                                      text-align: center;
                                      font-weight: bold;
                                    "
                                  >
                                    From the People of Kenya
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <table
                                width="100%"
                                cellspacing="0"
                                align="center"
                                cellpadding="0"
                                border="0"
                              >
                                <tr>
                                  <td
                                    valign="top"
                                    style="
                                      font-size: 14px;
                                      color: #5e5e5e;
                                      font-family: Verdana;
                                      padding: 15px 0 5px;
                                    "
                                  >
                                    This message goes to whoever it may concern.
                                  </td>
                                </tr>
                                <tr>
                                  <td
                                    valign="top"
                                    style="
                                      font-size: 14px;
                                      color: #5e5e5e;
                                      font-family: Verdana;
                                      padding: 15px 0 5px;
                                    "
                                  >
                                    We as the people of kenya are tired! Our
                                    "president" William Samoei Ruto has vowed to
                                    go against the people of Kenya and it is
                                    time we stand up for our rights.
                                  </td>
                                </tr>
                                <tr>
                                  <td
                                    valign="top"
                                    style="
                                      font-size: 14px;
                                      color: #5e5e5e;
                                      font-family: Verdana;
                                      padding: 15px 0 5px;
                                    "
                                  >
                                    This is a message from the people of Kenya
                                    wanting the ICC to re evaluate the decisions
                                    made on the 5 April 2016 for his crimes
                                    against humanity. It has been observed that
                                    he is not afraid to commit the same crimes
                                    again.
                                  </td>
                                </tr>
                                <tr>
                                  <td
                                    valign="top"
                                    style="
                                      font-size: 14px;
                                      color: #5e5e5e;
                                      font-family: Verdana;
                                      padding: 15px 0 5px;
                                    "
                                  >
                                    We are urging for any form of support to aid
                                    the Kenyans in these tough times and are
                                    calling onto every Kenyan to speak up to
                                    have their voices heard. We shall not
                                    tolerate dictorship in this democrary!
                                  </td>
                                </tr>
                                <tr>
                                  <td
                                    valign="top"
                                    style="
                                      font-size: 14px;
                                      color: #5e5e5e;
                                      font-family: Verdana;
                                      padding: 15px 0 5px;
                                    "
                                  >
                                    Kenyans will not tolerate this any more!
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
</html>
